@{
    Layout = null;
}
@model CineGT.Models.Usuario

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
    <link href="c:\users\diego\source\repos\programacitas\programacitas\content\css\login.css" rel="stylesheet" />
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Registration form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="@Url.Action("Registrar","Acceso")" method="post">
                            <h3 class="text-center text-info">Register</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Nombre:</label><br>
                                <input type="text" name="Nombre" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Apellido:</label><br>
                                <input type="text" name="Apellido" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="text" name="Correo" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Usuario:</label><br>
                                <input type="text" name="User" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">No. de telefono:</label><br>
                                <input type="text" name="Numero" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="Clave" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Confirm Password:</label><br>
                                <input type="password" name="ConfirmarClave" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="Id_Estado_F">Seleccione el estado de la sala</label>
                                <select asp-for="TipoUsuario" class="form-control">
                                    <option value="1">Cliente</option>
                                    <option value="2">Empleado</option>
                                </select>
                                <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            }

                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="text-danger">
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <p>@error.ErrorMessage</p>
                                    }
                                </div>
                            }

                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Register">
                            </div>
                            <div id="register-link" class="text-right">
                                Ya tienes una cuenta? <a href="@Url.Action("Login","Acceso")" class="text-info">Inicia Sesion</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
