@model CineGT.Models.Funcion
<!DOCTYPE html>
<html>
    <head>
        <title>Registrar Sesion</title>
    </head>
    <body>
    <h2>Registrar Sesion</h2>

    <form asp-action="Crear" method="post">
        <div class="form-group">
            <label for="FechaInicio">Fecha de Inicio</label>
            <input asp-for="FechaInicio" type="datetime-local" class="form-control" />
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Precio">Precio</label>
            <input asp-for="Precio" type="number" class="form-control" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Id_Sala">Seleccione la sala</label>
            <select asp-for="Id_Sala" class="form-control">
                <option value="1">Sala 1</option>
                <option value="2">Sala 2</option>
                <option value="3">Sala 3</option>
                <option value="4">Sala 4</option>
                <option value="5">Sala 5</option>
            </select>
            <span asp-validation-for="Id_Sala" class="text-danger" ></span>
        </div>
        <div class="form-group">
            <label for="Id_Pelicula">Pelicula</label>
            <select asp-for="Id_Pelicula" class="form-control" asp-items="ViewBag.Pelicula">
                <option value="">Seleccione una pelicula</option>
            </select>
            <span asp-validation-for="Id_Pelicula" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Id_Estado_F">Seleccione el estado de la sala</label>
            <select asp-for="Id_Estado_F" class="form-control">
                <option value="1">Activa</option>
                <option value="2">Inactiva</option>
                <option value="3">Iniciada</option>
                <option value="4">Terminada</option>
            </select>
            <span asp-validation-for="Id_Estado_F" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <h3>O si quieres subir varias funciones mediante un archivo CSV</h3>
    <form asp-action="CargarSesiones" enctype="multipart/form-data" method="post">
        <input type="file" id="fileUpload" name="fileUpload" accept=".csv" required />
        <div>
            <input type="radio" id="ingresarSinErrores" name="opcionCarga" value="true" checked>
            <label for="ingresarSinErrores">Ingresar solo sesiones sin errores</label>
        </div>
        <div>
            <input type="radio" id="rollbackTodo" name="opcionCarga" value="false">
            <label for="rollbackTodo">Hacer rollback de todas las sesiones si hay errores</label>
        </div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        <button type="submit">Subir CSV</button>
    </form>

    </body>
</html>
